<div class="container col-xs-12">
  <div class="row">
    <div class="panel panel-default">
      <div class="col-xs-12 panel-heading">
        <!-- <h2 class="col-xs-12">{{ contact.name }}</h2> -->
        <img
          class="img-responsive pull-left img-rounded"
          style="max-height: 100px"
        />
        <div class="pull-right btn-toolbar">
          <a class="btn btn-primary">Edit</a>
          <a class="btn btn-danger">Delete</a>
        </div>
      </div>

      <div class="col-xs-12 list-group-item detail-fixed panel-body">
        <h4>Email:</h4>
        <h4>Password:</h4>
        <!-- <h4>Email: {{ contact.email }}</h4>
        <h4>Password: {{ contact.phone }}</h4> -->
      </div>
    </div>
  </div>
</div>
